body{
 background-image: url(../imagenes/supermercado.jpg);   
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 background-position: center;

}


.carousel-wrapper {
  overflow: hidden;
  position: relative;
}
.carousel-container {
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; /* Permite el scroll horizontal */
  scroll-behavior: smooth;
}
.carousel-item {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 100%; /* Full width on small screens */
  margin-right: 1rem; /* Espacio entre tarjetas */
}
.carousel::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en WebKit (Chrome, Safari) */
}

#ofertas{

    text-align: center;
    padding: 5px;
    border-radius: 25px;
    width: 30%;
    background-color: #FED30B;
    animation-name: llenar-barra;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    margin: auto;
    
}

@keyframes llenar-barra{
  from{
      width: 50%;
      /* background-color: rgb(146, 120, 212); */
  }
  to{
      width: 100%;

  }
}



@media (min-width: 640px) {
  .carousel-item {
    width: 50%; /* Ancho de tarjeta en pantallas medianas (tablets) */
  }
}
@media (min-width: 768px) {
  .carousel-item {
    width: 33.333%; /* Ancho de tarjeta en pantallas grandes (desktops) */
  }
}
.contenedor-total{
  display: flex;
  flex-direction: column;}

  .star-rating {
    direction: rtl;
    display: inline-flex;
    font-size: 2rem;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
    padding: 0 0.1rem;
}

.star-rating input:checked ~ label,
.star-rating input:hover ~ label,
.star-rating label:hover ~ label {
    color: #f5b301;
}